---
import EducationIcon from "./icons/EducationIcon.astro";
import WorkIcon from "./icons/WorkIcon.astro";
import LocationIcon from "./icons/LocationIcon.astro";

import { Image } from "astro:assets";

const { date, title, location, institution, imageUrl, imageAlt, isLeft } =
  Astro.props;
---

<div
  class={`timeline-item relative ${
    isLeft ? "from-left" : "from-right"
  } opacity-0 translate-y-10 transform transition-all duration-700 ease-out mb-20 w-full`}
>
  <div class="hidden md:flex items-center justify-center">
    <div class="w-1/2 pr-8 text-right">
      {
        isLeft ? (
          <div class="card backdrop-blur-xs">
            <div class="flex flex-row gap-4 items-center">
              <div class="relative flex items-center mr-auto">
                <Image
                  src={imageUrl}
                  alt={imageAlt}
                  width={64}
                  height={64}
                  format="webp"
                  fit="contain"
                />
              </div>
              <div class="flex-1">
                <h3 class="heading-3">{title}</h3>
                <p class="paragraph mt-1 mb-6">{institution}</p>
                <div class="absolute flex gap-1.5 text-xs md:text-sm text-gray-400 items-center right-6 bottom-6">
                  <LocationIcon classes="w-4 h-4" />
                  <span>{location}</span>
                </div>
              </div>
            </div>
          </div>
        ) : (
          <p class="paragraph">{date}</p>
        )
      }
    </div>
    <div
      class="absolute left-1/2 -translate-x-1/2 w-12 h-12 bg-gray-950 rounded-full border-4 border-gray-800 shadow-xl flex items-center justify-center z-10"
    >
      {
        isLeft ? (
          <EducationIcon classes="w-6 h-6 text-yellow-300" />
        ) : (
          <WorkIcon classes="w-6 h-6 text-green-300" />
        )
      }
    </div>
    <div class="w-1/2 pl-8">
      {
        !isLeft ? (
          <div class="card backdrop-blur-xs">
            <div class="flex flex-row gap-4 items-center">
              <div class="flex-1">
                <h3 class="heading-3">{title}</h3>
                <p class="paragraph mt-1 mb-6">{institution}</p>
                <div class="absolute flex gap-1.5 text-sm text-gray-400 items-center left-6 bottom-6">
                  <LocationIcon classes="w-4 h-4" />
                  <span>{location}</span>
                </div>
              </div>
              <div class="relative flex items-center ml-auto">
                <Image
                  src={imageUrl}
                  alt={imageAlt}
                  width={128}
                  height={64}
                  format="webp"
                  fit="contain"
                />
              </div>
            </div>
          </div>
        ) : (
          <p class="paragraph">{date}</p>
        )
      }
    </div>
  </div>

  <div class="md:hidden">
    <div
      class="absolute left-4 top-0 bottom-0 w-0.5 bg-gray-800"
      aria-hidden="true"
    >
    </div>
    <div class="flex items-center mb-4">
      <div
        class="absolute left-4 -translate-x-1/2 w-8 h-8 bg-gray-950 rounded-full border-4 border-gray-800 shadow-xl flex items-center justify-center"
      >
        {
          isLeft ? (
            <EducationIcon classes="w-4 h-4 text-yellow-300" />
          ) : (
            <WorkIcon classes="w-4 h-4 text-green-300" />
          )
        }
      </div>
      <p class="paragraph ml-12">
        {date}
      </p>
    </div>
    <div class="ml-12">
      <div class="card backdrop-blur-xs">
        <div class="flex flex-row gap-3 items-center">
          <div class="flex-1">
            <h3 class="heading-3">
              {title}
            </h3>
            <p class="paragraph my-1">
              {institution}
            </p>
            <div class="flex gap-1.5 text-xs text-gray-400 items-center">
              <LocationIcon classes="w-4 h-4" />
              <span>{location}</span>
            </div>
          </div>
          <div class="relative flex items-center shrink-0">
            <Image
              src={imageUrl}
              alt={imageAlt}
              width={48}
              height={48}
              format="webp"
              fit="contain"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
